name: pruebadatabase
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  firebase_core: ^4.2.1
  flutter:
    sdk: flutter
  http: ^1.2.1 
  cloud_firestore: ^6.1.0
  # For Google Sign-In
  google_sign_in: ^7.2.0
  firebase_auth: ^6.1.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/images/
